@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Sans+KR:wght@300;400&family=Rozha+One&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
body{
  text-align: center;
}
header{
  // background-color: red;
  display: inline-block;
  width: 100rem;
  div{
    float: right;
    display: inline-block;
    [class *= btn]{
      font-size: 1.3rem;
      width: 7rem;
      height: 3rem;
      margin: 1rem;
      margin-top: 2rem;
      border: none;
      background-color: white;
    }
    [class *= btn]:hover{
      color: gray;
      cursor: pointer;
    }
    div{
      margin: 1rem;
      margin-top: 2rem;
      width: 13rem;
      height: 3rem;
      border-bottom: 0.1rem solid gray;
      background-color: white;
      input{float: left;
        width: 10rem;
        height: 100%;
        display: inline-block;
        border: none;
      }
      i{
        font-size: 2rem;
      }
      i:hover{
        color: grey;
        cursor: pointer;
      }
    }
  }

  a{
    float: left;
    font-size: 6rem;
    font-family: 'Rozha One', serif;
    font-weight: bold;
  }
  a:link {
    color: black;
    text-decoration: none;
  } 
  a:visited {
    color: black;
  } 
  a:hover {
    color: black;
  }
  a:active {
    color: black;
  } 
}

nav{
  button{
    font-family: 'Italianno', cursive;
    font-size: 5rem;
    width: 10rem;
    height: 6rem;
    margin: 1rem;
    border: none;
    border-bottom: 0.1rem solid white;
    background-color: white;


  }
  button:hover{
    cursor: pointer;
    border-bottom: 0.1rem solid black;

  }
}
.section1{
  display: inline-block;
  width: 100rem;
  height: 30rem;
  overflow: hidden;
  img{
    width: 100%;
    object-fit: contain;

  }
}
.mainBox{
  display: inline-block;
  margin-top: 2rem;
  width: 100rem;
  article{
    display: inline-block;
    width: 33rem;
    height: 20rem;
    background-color: whitesmoke;
  }
  div{
    margin-top: 2rem;
    width: 100rem;
    height: 25rem;
    line-height: 25rem;
    font-size: 2rem;
    border-top:0.1rem solid black ;
    border-bottom:0.1rem solid black ;
  }
}
footer{
  display: inline-block;
  width: 100rem;
  height: 17rem;
  margin-top: 2rem;
  h1{
    font-size: 5rem;
    font-family: 'Rozha One', serif;
  }
  p{

  }
  a{
  }
  a:link {
    color: black;
    text-decoration: none;
  } 
  a:visited {
    color: black;
  } 
  a:hover {
    color: gray;
  }
  a:active {
    color: black;
  } 
}